.App-wrapp{
    margin: 0 auto;
  background-color: red;
    width: 1200px;

    grid-template-areas:
          "hea hea"
          "nav con"
;

  display: grid;
  grid-template-rows:60px 1fr;
  grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}


.wrapper_content{

    grid-area: con;
    background-color: beige;
    padding: 10px;
}


